.App {
    font-family: cursive;
}

img.bg {
    min-height: 100%;
    min-width: 1024px;
    width: 100%;
    height: auto;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 10px; 
}

.scroll {
    max-width: 70em;
    height: 40em;
    padding: 1em;
    margin: auto;
    overflow: auto;
    direction: ltr;
    text-align: left;
}


